@import '../../variables.scss';

.statistic{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.2;
}

.statisticLabel{
    font-size:1rem;
    color: $gray-1;
    margin-bottom: 0.5rem;
}

.statisticValue{
    font-size:1.25rem;
    color: $dark-gray-1;
    font-weight: 500;
}