@import '../../../variables.scss';

.cryptoCurrenciesGrid{
    padding:0;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.cryptoCurrencyCol{
    margin-bottom: 1rem;
    box-sizing: border-box;
}
