@import '../../variables.scss';

.nav{
    background:$dark;
    width:100%;
    height: 80px;
    position:fixed;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    transform: translateY(-100%);
    display:flex;
    align-items: flex-end;

    @include lg{
        height: 100%;
        width:250px;
        position:fixed;
        left:0;
        top:0;
        bottom:0;
        transform: translateY(0);
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0;
    }
}

.navItem{
    color: $white;
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
    text-decoration: none;
    height:100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    svg{
        width:20px;
        height:20px;
        margin-bottom: 0.25rem;
    }
    span{
        white-space: nowrap;
    }
    flex:1 0 0;
    &:hover{
        background: white;
        svg{
            path{
                fill: $cta-teal;
            }
        }
    }

    @include lg{
        padding: 0;
        height:auto;
        margin-bottom: 1rem;
        width:100%;
        flex:0 0 auto;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem 0;
        span{        margin-left: 0.5rem;}
        svg{
            margin-left: 1rem;
            margin-bottom:0;
        }
        &:last-child{
            margin-bottom:0;
        }
    }
}


.navItem.active{
    background: white;
    svg{
        path{
            fill: $cta-teal;
        }
    }
    color: $cta-teal
}